<div class="m-4 min-h-[50vh] w-full max-w-sm lg:max-w-4xl">
  <!-- logo -->
  <div class="flex items-center justify-center gap-2 p-8">
    <svg
      width="24"
      height="24"
      viewBox="0 0 1024 1024"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <rect x="256" y="670.72" width="512" height="256" rx="128" class="fill-base-content" />
      <circle cx="512" cy="353.28" r="256" class="fill-base-content" />
      <circle
        cx="512"
        cy="353.28"
        r="261"
        stroke="black"
        stroke-opacity="0.2"
        stroke-width="10" />
      <circle cx="512" cy="353.28" r="114.688" class="fill-base-200" />
    </svg>
    <h1 class="text-lg font-bold">管理画面：<%= t('.sign_in') %></h1>
  </div>
  <!-- /logo -->
  <main class="bg-base-100 grid lg:aspect-2/1 lg:grid-cols-2">
    <!-- image -->
    <figure class="bg-base-300 pointer-events-none object-cover max-lg:hidden">
      <img src="https://picsum.photos/id/283/1200/1200" alt="Login" class="h-full" />
    </figure>
    <!-- /image -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "flex flex-col justify-center gap-4 px-10 py-10 lg:px-16"}) do |f| %>
      <!-- email -->
      <div class="form-control">
        <label class="label" for="admin_email"><span class="label-text"><%= Admin.human_attribute_name(:email) %></span></label>
        <input
          type="email"
          accept="email"
          placeholder="email"
          class="input input-bordered [&:user-invalid]:input-warning [&:user-valid]:input-success"
          required
          name="admin[email]"
          id="admin_email" />
      </div>
      <!-- /email -->
      <!-- password -->
      <div class="form-control">
        <label class="label" for="admin_password"><span class="label-text"><%= Admin.human_attribute_name(:password) %></span></label>
        <input
          autocomplete="current-password"
          type="password"
          placeholder="password"
          name="admin[password]"
          id="admin_password"
          class="input input-bordered [&:user-invalid]:input-warning [&:user-valid]:input-success"
          required
          minlength="6" />
      </div>
      <!-- password -->
      <!-- remember me and recovery link -->
      <div class="flex items-center justify-between gap-3">
        <% if devise_mapping.rememberable? %>
          <%= f.label :remember_me, class: "flex cursor-pointer gap-3 text-xs" do %>
            <%= f.check_box :remember_me, class: "toggle toggle-xs" %>
            <%= Admin.human_attribute_name(:remember_me) %>
          <% end %>
        <% end %>
      </div>
      <!-- /remember me and recovery link -->
      <!-- submit -->
      <button class="btn btn-neutral" type="submit"><%= t('.sign_in') %></button>
      <!-- /submit -->
      <!-- recovery link -->
      <div class="label justify-end">
        <%= link_to t('devise.shared.links.forgot_your_password'), new_password_path(resource_name), class: "link-hover link label-text-alt" %>
      </div>
      <!-- /recovery link -->
    <% end %>
  </main>
</div>
